body{
    background-color: rgb(39, 37, 37);
    font-family: 'Rubik', sans-serif;
    user-select: none;
}
.Title {
    position: relative;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 94%;
    border-radius: 12px;
    margin-top: 1%;
    align-items: center;
    background-color: rgb(19, 18, 18);
}
h1{
    color: white;
    font-size: 10vw;
    text-align: center;
    align-items: center;
}
p{
    color: white;
    text-align: center;
}
h2{
    color: rgb(0, 255, 170);
    text-align: center;
    font-size: 5vw;
}
button{
    margin-left: 45%;
    display: block;
    width: 13%;
    height: 8%;
    font-size: 2vw;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
}
button:hover{
    background-color: rgb(0, 255, 128);
    width: 14%;
    height: 9%;
    margin-left: 42.5%;
}
img{
    margin-left: 41%;
    width: 20vw;
    height: 15vw;
    border-radius: 15px;
}